<form>
    <input class="form-control" type="text" placeholder="Email" @bind="Username" @bind:event="oninput"/>
    <input class="form-control" type="password" placeholder="Password" @bind="Password" @bind:event="oninput"/>
    <input class="form-control" type="password" placeholder="Confirm Password" @bind="ConfirmPassword" @bind:event="oninput"/>
    <button class="btn btn-primary form-control">Create Account</button>
</form>
@Username
@Password
@ConfirmPassword
@code {
    public string Username { get; set; }
    public string Password { get; set; }
    public string ConfirmPassword { get; set; }
}
