<form>
    <input class="form-control" type="text" placeholder="Email" @bind="Username" @bind:event="oninput"/>
    <input class="form-control" type="password" placeholder="Password" @bind="Password" @bind:event="oninput"/>
    <button class="form-control btn btn-primary">Login</button>
    <button class="btn form-control">Register</button>
</form>
@Username
@Password
@code {
    public string Username { get; set; }
    public string Password { get; set; }
}
